.App {
  text-align: center;
}

.Main {
  padding: 3rem;
  height: 100vh;
  background-color: red;
  color: white;
}

.Content {
  padding: 2rem 0;
}

.Tips {
  padding: 3rem 3rem 0 3rem;
}

li {
  padding: 1rem 0;
}

.PubButton {
  padding: 1rem;
}
